resources/odd/poslowie-japonscy.odd

<?xml-model href="teipublisher_odds.xsd"?><TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en"><teiHeader><fileDesc>
            <titleStmt><title>Poslowie japonscy
                   
                  
                 
                  
                 <desc>Wyprawa posłów japońskich do papieża Jakuba</desc></title></titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc><encodingDesc><tagsDecl><rendition selector=".name">
                    color: #339900;
                </rendition><rendition selector=".name.disable">
                    color: inherit;
                </rendition><rendition selector=".choice,.choice-alternate">
                    color: #888888;
                </rendition><rendition selector=".foreign">
                    font-weight: bold;
                </rendition><rendition selector=".foreign.disable">
                    font-weight: normal;
                </rendition><rendition selector=".choice-alternate">
                    display: none;
                </rendition><rendition selector=".choice-alternate.toggle">
                    display: inline;
                </rendition><rendition selector=".choice.toggle">
                    display: none;
                </rendition><rendition selector=".lb.toggle">
                    display: none;
                </rendition><rendition source="poslowie-japonscy.css"/></tagsDecl></encodingDesc><revisionDesc>
            <change when="2018-09-12+02:00">Initial version</change>
        </revisionDesc></teiHeader><text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="poslowie" source="teipublisher.odd">
                <elementSpec ident="pb" mode="change"><model predicate="starts-with(@facs, 'jpg')" behaviour="webcomponent" cssClass="facs">
            <param name="name" value="'pb-facs-link'"/>
            <param name="content" value="@n"/>
            <param name="emit" value="'transcription'"/>
            <param name="facs" value="replace(@facs, '^jpg(.*)$', 'jpg$1')"/>
            <outputRendition xml:space="preserve">
            font-size: 16px;
                            color: #888888;
                            cursor: pointer;
                            display: inline;
                            display: block;
                            margin-right: -32px;
                            float: right;
            </outputRendition>
        </model><model behaviour="omit">
            <param name="type" value="'page'"/>
            <param name="label" value="(concat(if(@n) then concat(@n,' ') else '',if(@facs) then                   concat('@',@facs) else ''))"/>
            <outputRendition xml:space="preserve">
            display: block; margin-left: 4pt; color: grey; float: right;
            </outputRendition>
            <outputRendition xml:space="preserve">
            content: '[Strona ';
            </outputRendition>
            <outputRendition xml:space="preserve">
            content: ']';
            </outputRendition>
        </model></elementSpec>




                <elementSpec ident="choice" mode="change"/>
                <elementSpec ident="name" mode="change"/>
                <elementSpec ident="person" mode="add"/>
                <elementSpec ident="persName" mode="add"/>
                <elementSpec ident="note" mode="change"/>
                <elementSpec ident="rs" mode="change"/>
                <elementSpec ident="seg" mode="change"/>
                <elementSpec ident="titleStmt" mode="change"/>
                <elementSpec ident="teiHeader" mode="change"><model output="latex" behaviour="block">
            <param name="content" value="(fileDesc/titleStmt/title[not(@type)], profileDesc/correspDesc)"/>
            <pb:template xmlns="" xml:space="preserve">\def\volume{[[content]]}</pb:template>
        </model><model output="fo" behaviour="omit"/><model output="web" predicate="$parameters?header='short'" behaviour="block"/><model output="web" predicate="$parameters?mode='title'" behaviour="heading">
            <param name="content" value="(fileDesc/titleStmt/title[not(@type)])"/>
            <param name="level" value="5"/>
        </model><model output="web" behaviour="metadata"/></elementSpec>
            <elementSpec ident="lb" mode="change"/>
    <elementSpec ident="app" mode="change"/>
                <elementSpec ident="foreign" mode="change"/>
            <elementSpec ident="fw" mode="change"><model predicate="@type=&#34;running-head&#34;" behaviour="block">
            <outputRendition xml:space="preserve">
            text-align: center;
            </outputRendition>
        </model><model predicate="@type=&#34;signature&#34;" behaviour="block">
            <outputRendition xml:space="preserve">
            text-align: center;
            </outputRendition>
        </model><model predicate="@type=&#34;catchword&#34;" behaviour="block">
            <outputRendition xml:space="preserve">
            text-align: right;
            </outputRendition>
        </model><model predicate="ancestor::p or ancestor::ab" behaviour="inline"/><model behaviour="block"/></elementSpec>
                
             
   <elementSpec ident="ref" mode="change"><model behaviour="note">
            <param name="content" value="let  $target := @target return root($parameters?root)//div[@type='notes']/note[@xml:id=$target]/text()"/>
            <outputRendition xml:space="preserve">
            
            </outputRendition>
        </model></elementSpec>


            <elementSpec ident="pb-view" mode="add"/>
            <elementSpec ident="head" mode="change"><model predicate="$parameters?header='short'" behaviour="inline">
            <param name="content" value="replace(string-join(.//text()[not(parent::ref)]), '^(.*?)[^\w]*$', '$1')"/>
        </model><model predicate="parent::figure" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model><model predicate="parent::table" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model><model predicate="parent::lg" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model><model predicate="parent::list" behaviour="block">
            <outputRendition xml:space="preserve">
            font-weight: bold;
            </outputRendition>
        </model><model predicate="parent::div" behaviour="heading" cssClass="p-head">
            <param name="level" value="count(ancestor::div)"/>
        </model><model behaviour="block"/></elementSpec>
            </schemaSpec>
        </body>
    </text></TEI>